html,
body {
    font-family: 'Quicksand', sans-serif;
    width: 100vw;

    /*height: 100vh;*/
    margin: 0;
    padding: 0;
    background-image: url(./kittysplitter.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
}

.form_container {
    display: flex;
    flex-direction: column;
    /*width: 30%;*/
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    background: rgba(255, 255, 255, 0.85);
}

.inputForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-top: 1em;
    margin-bottom: 1em;
    /*padding-left: 10%;*/
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
}

.tagline {
  margin-left: 10%;
}

input,
select,
.sumbtn {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9em;
    text-align: center;
    width: 80%;
    height: 3rem;
    margin-bottom: 1rem;
    border: 1px solid #d3d3d3;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

.sumbtn {
  margin-left: 10%;
  background-color: #E2E0E1;
}

.logoutbtn {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9em;
  text-align: center;
  width: 80%;
  height: 3rem;
  margin-bottom: 1rem;
  border: 1px solid #d3d3d3;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  background-color: rgb(22, 21, 23);
  margin-left: 10%;
}
.dataContainer {
    display: flex;
    align-items: center;
    min-width: 60%;
    padding:0;
    background-color: white;
    opacity: 0.7;
}

.item_container {
    font-size: 1rem;
    overflow: scroll;
    max-height: 70%;
    width: 100%;
}

.item_container p {
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
}

/*media queries for desktop*/
@media  screen and (min-width: 550px)  {

  body {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    /*change height to 100vh*/
  }


 .form_container {
     width: 30%;

 }

 .header {
    padding-left: 10%;
    text-align: left;
 }

 .dataContainer {
     padding: 5%;
 }

}
